<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="ConStr" connectionString="Data Source=(local); Initial Catalog=SkyStemART;Integrated Security=true; Trusted_Connection=false;Connect Timeout=600;" />
  </connectionStrings>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <!-- BEGIN Language Settings-->
    <add key="ApplicationID" value="1"/>
    <add key="DefaultLanguageID" value="1033"/>
    <add key="DefaultBusinessEntityID" value="0"/>
    <!-- END Language Settings -->
    <!--start Timer Elapsed time in Mins -->
    <add key="DataProcessingTimerIntervalInMins" value="2"/>
    <add key="RecPeriodStatusProcessingTimerIntervalInMins" value="120"/>
    <add key="AlertProcessingTimerIntervalInMins" value="10"/>
    <add key="MatchingFileProcessingTimerIntervalInMins" value="2"/>
    <add key="MatchingEnginePcessingTimerIntervalInMins" value="2"/>
    <add key="MultilingualUploadProcessingTimerIntervalInMins" value="2"/>
    <add key="ExportToExcelProcessingTimerIntervalInMins" value="2"/>
    <add key="UserUploadProcessingTimerIntervalInMins" value="2"/>
    <add key="CompanyCreationTimerIntervalInMins" value="2"/>
    <add key="AccountReconcilabilityProcesssingTimerIntervalInMins" value="3"/>
    <add key="IndexRecreationServiceProcesssingTimerIntervalInMins" value="10080"/>
    <add key="RecItemImportProcessingTimerIntervalInMins" value="2"/>
    <add key="TaskUploadProcessingTimerIntervalInMins" value="2"/>
    <add key="ClearCompanyCacheTimerIntervalInMins" value="60"/>
    <add key="FTPDataImportProcessingTimerIntervalInMins" value="2"/>
    <add key="CurrencyImportProcessingTimerIntervalInMins" value="2"/>

    <!--end Timer Elapsed time in seconds-->

    <!-- Begin Parallel Processing Settings -->
    <add key="EnableParallelProcessing" value="true"/>
    <add key="ParallelProcessingTimeOut" value="600"/>
    <!-- End Parallel Processing Settings -->

    <add key="xls" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1};IMEX=1;TypeGuessRows=0;ImportMixedTypes=Text'"/>
    <add key="xlsx" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1};IMEX=1;TypeGuessRows=0;ImportMixedTypes=Text'"/>
    <add key="xlsExport" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1};'"/>
    <add key="DelimitedFileConnString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='text;HDR={1};FMT={2}';"/>

    <!-- Begin Email Settings-->
    <add key="SmtpServer" value="DEV-SQL-01"/>
    <add key="SmtpPort" value="25"/>
    <add key="UserName" value="SMTPDevUser"/>
    <add key="password" value="Smtp@12345"/>
    <add key="UseTestAccount" value="techlead@skystem.com"/>
    <add key="EnableSSL" value="false"/>
    <add key="defaultEmailFromCompany" value="Admin_Dev@skystem.com"/>
    <add key="SystemURL" value="www.skystem.com"/>
    <!-- End Email Settings-->
    <add key="IsEmailIDUniqueCheckRequired" value=""/>
    <add key="DBCommandTimeOut" value="600"/>
    <add key="ServiceLogFilePath" value="D:\ARTServiceLog\Log.txt"/>
    <add key="BaseFolderForFiles" value="D:\SkyStemART_BaseFolderForFiles\"/>
    <add key="FolderForDownloadRequests" value="DownloadRequests"/>
    <add key="SkyStemARTBaseDatabasePath" value="D:\Databases\DatabaseTemplates\SkyStemARTBase.bak"/>
     <add key="BaseFolderForFTPUpload" value="\\DEV-SQL-01\LocalUser\"/>

    <add key="ReportUri" value="http://localhost/ReportServer"/>
    <add key="ReportPath" value="/ReportServer_ARTReports/RecFormMain"/>

    <add key="connectionString" value="Data Source=(local); Initial Catalog=SkyStemART; Integrated Security=true;Connect Timeout=120;" />
    <add key="connectionStringCore" value="Data Source=(local); Initial Catalog=SkyStemARTCore; Integrated Security=true;Connect Timeout=120;" />
    <add key="connectionStringBase" value="Data Source=(local); Initial Catalog=SkyStemARTBase; Integrated Security=true;Connect Timeout=120;" />
    <add key="connectionStringSpecific" value="Data Source={0}; Initial Catalog={1}; uid={2};pwd={3};Connect Timeout=120;"/>
    <add key="connectionStringCreateCompany" value="Data Source={0}; uid={1}; pwd={2}; Connect Timeout=120;"/>

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SkyStemARTBasicHttpBinding" closeTimeout="00:20:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576000" maxBufferPoolSize="104857600000" maxReceivedMessageSize="1048576000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="1048576000" maxArrayLength="1048576000" maxBytesPerRead="4096" maxNameTableCharCount="1048576000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFTPFileService" />
        <binding name="BasicHttpBinding_IFTPUserService" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="debuggingBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost/ARTLanguageApp/LanguageService.svc" binding="basicHttpBinding" bindingConfiguration="SkyStemARTBasicHttpBinding" contract="Proxy.LanguageService.ILanguageService" behaviorConfiguration="debuggingBehaviour" name="LanguageService"/>
      <endpoint address="http://DEV-SQL-01/ARTIntegrationServices/Services/FTPFileService.svc"
     binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFTPFileService"
     contract="ARTIntegrationServices.FTPFileService.IFTPFileService"
     name="BasicHttpBinding_IFTPFileService" />
      <endpoint address="http://DEV-SQL-01/ARTIntegrationServices/Services/FTPUserService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFTPUserService"
        contract="ARTIntegrationServices.FTPUserService.IFTPUserService"
        name="BasicHttpBinding_IFTPUserService" />
    </client>
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
      switchValue="Information, ActivityTracing"
      propagateActivity="true" >
        <listeners>
          <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
