@model dynamic

@{
    ViewBag.Title = "ART User Login";
    Layout = "~/Areas/mvc/Views/Shared/_LayoutLogin.cshtml";
}

<form id="login-form" method="post" accept-charset="utf-8" autocomplete="off">
    <input type="text" name="username" placeholder="User Name" autofocus>
    <div id="user_name_error" class="errorMessage"></div>
    <input type="password" name="password" placeholder="Password">
    <div id="password_error" class="errorMessage"></div>
    @*<input type="checkbox" name="remember" value="true"><span class="helper-text">Remember Me</span>    
    <input type="hidden" value="false" name="remember" />*@
    <div class="submit-div">
        <input type="submit" name="submit" value="Login" class="button btn login-btn">
        @if (ViewBag.IsUserLocked == null || ViewBag.IsUserLocked == false)
        {
            <a href="ForgotPassword" class="helper-text">Forgot Your Password</a>
        }
    </div>
</form>