/* Variables */
body {
  background: url(../images/background.jpg);
  background-size: cover;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  height: 100vh;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  color: white;
  font-weight: 600; }

h2 {
  font-size: 1.4em;
  font-weight: 800; }

a {
  cursor: pointer; }

.header {
  background: white;
  border-bottom: 4px solid #46a7dd;
  padding: 10px;
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100%; }
  .header .logo {
    height: 30px; }
  @media screen and (max-width: 768px) {
    .header .container {
      padding-left: 26px; } }

.row {
  padding: 0 10px; }

.main > .row {
  padding: 0; }

@media screen and (max-width: 1200px) {
  .main {
    width: 100%; } }

.button {
  transition: all 0.3s;
  font-weight: 600;
  font-size: .9em; }

#main-right-col {
  background: rgba(70, 167, 221, 0.5);
  height: 100vh;
  padding: 40px;
  padding-top: 12vh; }
  #main-right-col a {
    color: white; }

.helper-text, .errorMessage {
  font-size: .9em;
  display: inline-block; }
  .helper-text.phone, .phone.errorMessage {
    margin-right: 10px; }

.errorMessage {
  color: white;
  display: none; }

.copyright {
  font-size: .7em;
  font-weight: 400;
  padding-top: 10px; }

.login-input-box {
  /* firefox 19+ */
  /* ie */ }
  .login-input-box input[type="text"], .login-input-box input[type="password"] {
    border: none;
    border-radius: 3px;
    color: #231f20;
    font-weight: 400;
    padding: 5px 10px;
    width: 100%;
    margin: 5px 0;
    font-size: 0.8em; }
    .login-input-box input[type="text"].error-focus, .login-input-box input[type="password"].error-focus {
      outline: 2px solid #e70188; }
  .login-input-box ::-webkit-input-placeholder {
    font-weight: 300;
    color: #46a7dd; }
  .login-input-box ::-moz-placeholder {
    font-weight: 300;
    color: #46a7dd; }
  .login-input-box :-ms-input-placeholder {
    font-weight: 300;
    color: #46a7dd; }
  .login-input-box input:-moz-placeholder {
    font-weight: 300;
    color: #46a7dd; }
  .login-input-box input[type="checkbox"] {
    margin: 10px 10px 10px 0; }
  .login-input-box .login-btn {
    background: #46a7dd;
    border: 1px solid white;
    padding: 5px 40px;
    margin-right: 5px; }
    .login-input-box .login-btn:hover {
      background: #e90e8b;
      color: white; }

.need-help-box {
  border-top: 1px solid white;
  border-bottom: 1px solid white; }
  .need-help-box h2 {
    margin-bottom: 0; }

.content-box, .bxslider-background .bx-wrapper .bxslide {
  padding: 20px 0; }
  .content-box h2, .bxslider-background .bx-wrapper .bxslide h2 {
    margin-top: 0; }

.bxslider-background {
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }
  .bxslider-background .bx-wrapper {
    box-shadow: none;
    border: none;
    background: none;
    margin: 0; }
    .bxslider-background .bx-wrapper .bxslide {
      background-size: cover;
      background-position: center center;
      height: 100vh;
      width: 100vh;
      padding-top: 12vh; }
      .bxslider-background .bx-wrapper .bxslide .col-sm-8 {
        padding-left: 0; }
  .bxslider-background #pager {
    position: relative;
    margin-left: -10px; }
    .bxslider-background #pager .bx-pager-item {
      display: inline-block; }
    .bxslider-background #pager .bx-pager {
      width: auto; }
      .bxslider-background #pager .bx-pager.bx-default-pager .bx-pager-link {
        background: #9cdcff;
        border: 2px solid white; }
        .bxslider-background #pager .bx-pager.bx-default-pager .bx-pager-link.active, .bxslider-background #pager .bx-pager.bx-default-pager .bx-pager-link:hover {
          background: red;
          border: 2px solid white; }

.slider-content h1 {
  margin-bottom: 0; }

.slider-content .subheader {
  font-size: 1.5em;
  font-weight: 500; }

.slider-content .button {
  margin-top: 15px;
  background: white;
  color: #e90e8b; }
  .slider-content .button:hover {
    background: #e90e8b;
    color: white; }

#bxslide-1 .button {
  color: #46a7dd; }
  #bxslide-1 .button:hover {
    color: white; }
