<li id="bxslide-2" class="bxslide" style="background-image: url('<%=root%>images/skystem_img_2.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 hidden-xs">
				<div class="slider-content">
					<h1>SkyStem Quality Scores</h1>
					<p class="subheader">Your reconciliations. Automatically scored.</p>
					<a href="http://skystem.com/" target="_blank"><button class="button btn">Learn More</button></a>
				</div>
			</div>
		</div>
	</div>
</li>