<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="connectionStringCore" value="Data Source=(local); Initial Catalog=SkyStemARTCore; Integrated Security=true;Connect Timeout=120;"/>
    <add key="connectionStringSpecific" value="Data Source={0}; Initial Catalog={1}; uid={2};pwd={3};Connect Timeout=120;"/>
  </appSettings>
</configuration>