<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="connectionString" value=""/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ARTApp.Service1Behavior" name="ARTApp.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="ARTApp.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.UtilityBehavior" name="SkyStem.ART.App.Services.Utility">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IUtility">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.CompanyBehavior" name="SkyStem.ART.App.Services.Company">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.ICompany">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.UserBehavior" name="SkyStem.ART.App.Services.User">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IUser">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.MenuBehavior" name="SkyStem.ART.App.Services.Menu">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IMenu">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.RoleBehavior" name="SkyStem.ART.App.Services.Role">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IRole">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.DashboardBehavior" name="SkyStem.ART.App.Services.Dashboard">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IDashboard">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.GLRecInputItemBehavior" name="SkyStem.ART.App.Services.GLDataRecItem">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IGLRecInputItem">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.Service1Behavior" name="SkyStem.ART.App.Services.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ReportBehavior" name="SkyStem.ART.App.Services.Report">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IReport">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.RiskRatingBehavior" name="SkyStem.ART.App.Services.RiskRating">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IRiskRating">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.FSCaptionBehavior" name="SkyStem.ART.App.Services.FSCaption">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IFSCaption">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.UnExpectedVarianceBehavior" name="SkyStem.ART.App.Services.UnexplainedVariance">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IUnExpectedVariance">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.GLDataBehavior" name="SkyStem.ART.App.Services.GLData">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IGLData">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ItemInputWriteOffBehavior" name="SkyStem.ART.App.Services.ItemInputWriteOff">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IItemInputWriteOff">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.CertificationStatusBehavior" name="SkyStem.ART.App.Services.CertificationStatus">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.ICertificationStatus">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.DataImport1Behavior" name="SkyStem.ART.App.Services.DataImport1">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IDataImport1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.AccountBehavior" name="SkyStem.ART.App.Services.Account">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IAccount">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.AttachmentBehavior" name="SkyStem.ART.App.Services.Attachment">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IAttachment">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ReviewNoteBehavior" name="SkyStem.ART.App.Services.ReviewNote">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IReviewNote">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.DataImportBehavior" name="SkyStem.ART.App.Services.DataImport">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IDataImport">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.HolidayCalendarBehavior" name="SkyStem.ART.App.Services.HolidayCalendar">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IHolidayCalendar">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ReconciliationPeriodBehavior" name="SkyStem.ART.App.Services.ReconciliationPeriod">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IReconciliationPeriod">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.GeographyStructureHdrBehavior" name="SkyStem.ART.App.Services.GeographyStructureHdr">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IGeographyStructureHdr">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.GLDataWriteOnOffBehavior" name="SkyStem.ART.App.Services.GLDataWriteOnOff">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IGLDataWriteOnOff">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.GLDataRecItemScheduleBehavior" name="SkyStem.ART.App.Services.GLDataRecItemSchedule">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IGLDataRecItemSchedule">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ReportParameterBehavior" name="SkyStem.ART.App.Services.ReportParameter">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IReportParameter">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ReasonBehavior" name="SkyStem.ART.App.Services.Reason">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IReason">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.CertificationBehavior" name="SkyStem.ART.App.Services.Certification">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.ICertification">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.AlertBehavior" name="SkyStem.ART.App.Services.Alert">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IAlert">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ReconciliationStatusBehavior" name="SkyStem.ART.App.Services.ReconciliationStatus">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IReconciliationStatus">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ReconciliationCategoryBehavior" name="SkyStem.ART.App.Services.ReconciliationCategory">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IReconciliationCategory">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.AgingBehavior" name="SkyStem.ART.App.Services.Aging">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IAging">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ReportParameterKeyBehavior" name="SkyStem.ART.App.Services.ReportParameterKey">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IReportParameterKey">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ReportArchiveBehavior" name="SkyStem.ART.App.Services.ReportArchive">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IReportArchive">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.ColumnOperatorMappingBehavior" name="SkyStem.ART.App.Services.ColumnOperatorMapping">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IColumnOperatorMapping">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.OperatorBehavior" name="SkyStem.ART.App.Services.Operator">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IOperator">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.AppSettingBehavior" name="SkyStem.ART.App.Services.AppSetting">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IAppSetting">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.Package" name="SkyStem.ART.App.Services.Package">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IPackage">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.WeekDayBehavior" name="SkyStem.ART.App.Services.WeekDay">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IWeekDay">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.JournalEntryBehavior" name="SkyStem.ART.App.Services.JournalEntry">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IJournalEntry">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.WizardBehavior" name="SkyStem.ART.App.Services.Wizard">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IWizard">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.SystemLockdownBehaviour" name="SkyStem.ART.App.Services.SystemLockdown">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.ISystemLockdown">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.QualityScore" name="SkyStem.ART.App.Services.QualityScore">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.Client.IServices.IQualityScore">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.MappingUpload.Service1Behavior" name="SkyStem.ART.App.Services.MappingUpload.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.MappingUpload.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.MappingUpload.MappingUploadBehavior" name="SkyStem.ART.App.Services.MappingUpload.MappingUpload">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.MappingUpload.IMappingUpload">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.RangeOfScoreBehavior" name="SkyStem.ART.App.Services.RangeOfScore">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IRangeOfScore">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.BulkExportToExcel.BulkExportToExcelBehavior" name="SkyStem.ART.App.Services.BulkExportToExcel.BulkExportToExcel">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.BulkExportToExcel.IBulkExportToExcel">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.BulkExportToExcel.ExportToExcelBehavior" name="SkyStem.ART.App.Services.BulkExportToExcel.ExportToExcel">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.BulkExportToExcel.IExportToExcel">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.RoleConfigurationBehavior" name="SkyStem.ART.App.Services.AttributeConfiguration">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.IRoleConfiguration">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="SkyStem.ART.App.Services.TaskMasterBehavior" name="SkyStem.ART.App.Services.TaskMaster">
        <endpoint address="" binding="wsHttpBinding" contract="SkyStem.ART.App.Services.ITaskMaster">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ARTApp.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.UtilityBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.CompanyBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.UserBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.MenuBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.RoleBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.DashboardBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.GLRecInputItemBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ReportBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.RiskRatingBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.FSCaptionBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.UnExpectedVarianceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.GLDataBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ItemInputWriteOffBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.CertificationStatusBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.DataImport1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.AccountBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.AttachmentBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ReviewNoteBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.DataImportBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.HolidayCalendarBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ReconciliationPeriodBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.GeographyStructureHdrBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.GLDataWriteOnOffBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.GLDataRecItemScheduleBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ReportParameterBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ReasonBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.CertificationBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.AlertBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ReconciliationStatusBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ReconciliationCategoryBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.AgingBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ReportParameterKeyBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ReportArchiveBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.AppSettingBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.ColumnOperatorMappingBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.OperatorBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.Package">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.WeekDayBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.JournalEntryBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.WizardBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.SystemLockdownBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.QualityScore">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.MappingUpload.Service1Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.MappingUpload.MappingUploadBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.RangeOfScoreBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.BulkExportToExcel.BulkExportToExcelBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.BulkExportToExcel.ExportToExcelBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.RoleConfigurationBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="SkyStem.ART.App.Services.TaskMasterBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="bindingSettings" messageEncoding="Mtom"/>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>