.bxslider-background {
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    .bx-wrapper {
    	box-shadow: none;
    	border: none;
    	background: none;
    	margin: 0;
        .bxslide {
            background-size: cover;
            background-position: center center;
            height: 100vh;
            width: 100vh;
            padding-top: 12vh;
            @extend .content-box;
            .col-sm-8 {
                padding-left: 0;
            }
            
        }
    }
    #pager {
        position: relative;
        margin-left: -10px;
        .bx-pager-item {
            display: inline-block;
        }
    	.bx-pager {
            width: auto;
    		&.bx-default-pager .bx-pager-link {
    			background: #9cdcff;
    			border: 2px solid white;
    			&.active, &:hover {
    				background: red;
    				border: 2px solid white;
    			}
    		}
    	}

    }
}
.slider-content {
    h1 {
        margin-bottom: 0;
    }
    .subheader {
        font-size: 1.5em;
        font-weight: 500;
    }
    .button {
        margin-top: 15px;
        background: white;
        color: $pink;
        &:hover {
            background: $pink;
            color: white;
        }
    }
}

#bxslide-1 {
    .button {
        color: $blue;
        &:hover {
            color: white;
        }
    }
}