<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFTPFileService" />
                <binding name="BasicHttpBinding_IFTPUserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ARTIntegrationServices/Services/FTPFileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFTPFileService"
                contract="ARTIntegrationServices.FTPFileService.IFTPFileService"
                name="BasicHttpBinding_IFTPFileService" />
            <endpoint address="http://localhost/ARTIntegrationServices/Services/FTPUserService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFTPUserService"
                contract="ARTIntegrationServices.FTPUserService.IFTPUserService"
                name="BasicHttpBinding_IFTPUserService" />
        </client>
    </system.serviceModel>
</configuration>