<?xml version="1.0"?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\logfile-SkyStemARTWeb.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="100KB"/>
    <staticLogFileName value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] [%property{source}] [%property{companyID},%property{loginID},%property{recPeriodID},%property{dataImportID}] - %message%newline%property{stackTrace}%newline"/>
    </layout>
  </appender>
  <!--Database Logging-->
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <filter type="log4net.Filter.LevelMatchFilter">
      <acceptOnMatch value="true"/>
      <levelToMatch value="ERROR"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
    <bufferSize value="1"/>
    <immediateFlush value="true"/>
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <commandType value="StoredProcedure"/>
    <commandText value="usp_INS_LogError"/>
    <parameter>
      <parameterName value="@companyID"/>
      <dbType value="Int32"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{companyID}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@recPeriodID"/>
      <dbType value="Int32"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{recPeriodID}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@dataImportID"/>
      <dbType value="Int32"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{dataImportID}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@loginID"/>
      <dbType value="String"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{loginID}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception"/>
      <dbType value="String"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{exception}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logDate"/>
      <dbType value="DateTime"/>
      <layout type="log4net.Layout.RawTimeStampLayout">
        <conversionPattern value="%property{logDate}"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@level"/>
      <dbType value="String"/>
      <size value="200"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level"/>
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@source"/>
      <dbType value="String"/>
      <size value="200"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{source}"/>
      </layout>
    </parameter>
  </appender>
  <logger name="SkyStemARTLogger">
    <appender-ref ref="RollingFileAppender"/>
    <appender-ref ref="AdoNetAppender"/>
  </logger>
  <root>
    <level value="INFO"/>
  </root>
</log4net>
