<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="UseTestLCID" value=""/>
    <add key="SystemURL" value="http://localhost/artweb/"/>
    <add key="BaseSystemURLForPDF" value="http://localhost"/>
    <!-- Skystem License Key -->
    <add key="Html2PdfLicenseKey" value="PRYMHQUdDA0LCx0LEw0dDgwTDA8TBAQEBA=="/>
    <!-- Demo License Key - Leave Blank -->
    <!--<add key="Html2PdfLicenseKey" value=""/>-->
    <!-- Language Settings -->
    <add key="ApplicationID" value="1"/>
    <add key="DefaultLanguageID" value="1033"/>
    <add key="DefaultBusinessEntityID" value="0"/>
    <!-- BEGIN: Send mail Settings -->
    <add key="SmtpServer" value="DEV-SQL-01"/>
    <add key="SmtpPort" value="25"/>
    <add key="UserName" value="SMTPDevUser"/>
    <add key="password" value="Smtp@12345"/>
    <add key="UseTestAccount" value="techlead@skystem.com"/>
    <add key="EnableSSL" value="False"/>
    <add key="defaultEmailFromCompany" value="Admin_Dev@skystem.com"/>
    <!-- BEGIN: Send mail Settings -->
    <add key="defaultStorageCapacity" value="200"/>
    <!-- BEGIN: Application Settings -->
    <add key="CacheRefreshRate" value="24"/>
    <add key="DefaultNoOfRows" value="5"/>
    <!-- END: Application Settings -->
    <!-- BEGIN: Connection String -->
    <add key="connectionString" value="Data Source=(local); Initial Catalog=SkyStemART;Integrated Security=True;"/>
    <add key="connectionStringCore" value="Data Source=(local); Initial Catalog=SkyStemARTCore; Integrated Security=True; Connect Timeout=120;"/>
    <add key="connectionStringCreateCompany" value="Data Source={0}; uid={1}; pwd={2}; Connect Timeout=120;Max Pool Size=500;"/>
    <add key="connectionStringSpecific" value="Data Source={0}; Initial Catalog={1}; uid={2};pwd={3};Connect Timeout=120;Max Pool Size=500;"/>
    <!-- END: Connection String -->
    <!--BEGIN: Folder Paths -->
    <add key="BaseFolderForFiles" value="D:\SkyStemARTDemo_BaseFolderForFiles\"/>
    <add key="TempFolderForCompanyLogo" value="TempFolderForCompanyLogo"/>
    <add key="TempFolderForExportFiles" value="TempFolderForExportFiles"/>
    <add key="FolderForAttachments" value="Attachments"/>
    <add key="FolderForImportTemplates" value="ImportTemplates"/>
    <!-- END: Folder Paths -->
    <!--BEGIN: Data Import Default File Size 4MB converted into bytes-->
    <add key="DefaultDataImportFileSize" value="4268032"/>
    <!-- END: Data Import Default File Size -->
    <!--BEGIN: Data Import allowed file extensions-->
    <add key="AllowedFileExtensions" value=".xls,.xlsx,.csv"/>
    <!-- END: Data Import allowed file extensions -->
    <!--BEGIN: Default Grid Item Size-->
    <!--NOTE: Please enter a multiple of 10 e.g. 10, 100, 50, 300 etc.-->
    <add key="DefaultChunkSize" value="100"/>
    <add key="DefaultPageSize" value="10,50,100,200,300,400,500"/>
    <add key="DisplayRecordsLimitInAMatchingPair" value="10"/>
    <!-- END: Default Grid Item Size -->
    <!--BEGIN: Maximum number of Records to be shown on Non-Paged grid-->
    <add key="MaxRecordSizeForNonPagedGrid" value="200"/>
    <!--BEGIN: Maximum Document Size for System wide setting (default value)-->
    <add key="DefaultMaxDocSize" value="4"/>
    <!-- BEGIN: Image URL Settings -->
    <add key="EditItemPopupImageURL" value="~/App_Themes/SkyStemBlueBrown/Images/Edit.gif"/>
    <add key="ReadOnlyItemPopupImageURL" value="~/App_Themes/SkyStemBlueBrown/Images/ReadOnly.gif"/>
    <!-- END: Image URL Settings -->
    <!--<add key="ChartImageHandler" value="storage=session;timeout=20;dir=c:\TempImageFiles\;" />-->
    <add key="ChartImageHandler" value="storage=session;timeout=20;"/>
    <!-- END: Microsoft ASP.Net ChartImage Settings -->
    <add key="xls" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add key="xlsx" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1};IMEX=1'"/>
    <add key="xlsExport" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1};'"/>
    <add key="DelimitedFileConnString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='text;HDR={1};FMT={2}';"/>
    <add key="Delimiter" value=","/>
    <add key="IsEmailIDUniqueCheckRequired" value=""/>
    <add key="MatchingDataImportRow" value="4"/>
    <!--BEGIN: Quality Score Settings -->
    <add key="QualityScoreThreshold" value="5"/>
    <add key="ReportUri" value="http://localhost/ReportServer"/>
    <add key="ReportPath" value="/ReportServer_ARTReports/RecFormMain"/>
    <!--END: Quality Score Settings -->
    <!--BEGIN: Language Upload Settings -->
    <add key="StartLabelID" value="1001"/>
    <!--END: Language Upload Settings -->
    <add key="DBCommandTimeOut" value="540"/>
    <add key="IsPermanentFile" value="true"/>
    <!-- BEGIN Session Timeout Settings -->
    <add key="SessionTimeoutWarningIntervalInMinutes" value="2"/>
    <add key="DisplaySessionTimeoutWarning" value="false"/>
    <!-- END Session Timeout Settings -->
    <!-- BEGIN Filter Settings -->
    <add key="AccountFilterValueSeparator" value="|"/>
    <add key="FilterValueSeparator" value="|"/>
    <!-- END Filter Settings -->
    <!--start Timer Elapsed time in Mins -->
    <add key="DataProcessingTimerIntervalInMins" value="2"/>
    <add key="SystemLockdownTimeOutIntervalInMinutes" value="30"/>
    <!--end Timer Elapsed time in seconds-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <!--start support site settings -->
    <add key="SupportSiteBaseURL" value="https://skystem.freshdesk.com/"/>
    <add key="SupportSitePrivateKey" value="7b61d267d45634b1a48dc2d806f8da70"/>
    <!--end support site settings -->
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="LocalSQLServer" connectionString="server=(local);Initial Catalog=SkyStemARTPersonalization;Integrated Security=True;" providerName="System.Data.SQLClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<identity impersonate="true" userName="registry:HKLM\Software\AspNetIdentity\ASPNET_SETREG,userName" password="registry:HKLM\Software\AspNetIdentity\ASPNET_SETREG,password"/>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!-- Assembly for Microsoft ASP.Net Chart -->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <!--<forms requireSSL="true"/>-->
    </authentication>
    <authorization>
      <allow users="*"/>
      <deny users="?"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webParts enableExport="true">
      <personalization defaultProvider="MyWebPartProvider">
        <providers>
          <add name="MyWebPartProvider" connectionStringName="LocalSQLServer" type="SkyStem.ART.Web.Classes.ARTPersonalizationProvider"/>
        </providers>
        <authorization>
          <allow users="*" verbs="modifyState"/>
        </authorization>
      </personalization>
    </webParts>
    <customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage.aspx"/>
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">-->
    <pages clientIDMode="AutoID" validateRequest="true">
      <controls>
        <add tagPrefix="webControls" namespace="SkyStem.Library.Controls.WebControls" assembly="WebControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f2ef4ac84e0926f1"/>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        <add tagPrefix="telerikWebControls" namespace="SkyStem.Library.Controls.TelerikWebControls" assembly="TelerikWebControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=947ea4021e9b9f0d"/>
        <add tagPrefix="wp" namespace="SkyStem.ART.Web.WebParts"/>
        <!--Begin: Setting for  Microsoft ASP.Net Chart -->
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <!--End:   Setting for  Microsoft ASP.Net Chart -->
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI, Version=2009.3.1016.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4" validate="false"/>
      <!--Begin: Setting for  Microsoft ASP.Net Chart -->
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <!--End: Setting for  Microsoft ASP.Net Chart -->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
      <add name="SystemLockdownModule" type="ARTModules.SystemLockdownModule,ARTModules"/>
    </httpModules>
    <httpRuntime executionTimeout="600" maxRequestLength="20480"/>
    <!--<httpCookies requireSSL="true" />-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="SystemLockdownModule"/>
      <add name="SystemLockdownModule" type="ARTModules.SystemLockdownModule,ARTModules"/>
    </modules>
    <handlers>
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
      <!--Begin: Setting for  Microsoft ASP.Net Chart -->
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <!--End: Setting for  Microsoft ASP.Net Chart -->
      <add name="HttpDownloader" preCondition="integratedMode" verb="GET" path="downloader" type="SkyStem.ART.Web.Utility.HttpDownloader"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SkyStemARTBasicHttpBinding" closeTimeout="00:20:00" openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1048576000" maxBufferPoolSize="104857600000" maxReceivedMessageSize="1048576000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="128" maxStringContentLength="1048576000" maxArrayLength="1048576000" maxBytesPerRead="4096" maxNameTableCharCount="1048576000"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFTPFileService">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IFTPUserService">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="debuggingBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost/ARTLanguageApp/LanguageService.svc" binding="basicHttpBinding" bindingConfiguration="SkyStemARTBasicHttpBinding" contract="Proxy.LanguageService.ILanguageService" behaviorConfiguration="debuggingBehaviour" name="LanguageService"/>
      <endpoint address="http://DEV-SQL-01/ARTIntegrationServices/Services/FTPFileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFTPFileService" contract="ARTIntegrationServices.FTPFileService.IFTPFileService" name="BasicHttpBinding_IFTPFileService"/>
      <endpoint address="http://DEV-SQL-01/ARTIntegrationServices/Services/FTPUserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFTPUserService" contract="ARTIntegrationServices.FTPUserService.IFTPUserService" name="BasicHttpBinding_IFTPUserService"/>
    </client>
  </system.serviceModel>
</configuration>