/*Telerik RadGrid Default Skin*/

/*global*/

.RadGrid_SkyStemBlueBrown
{
    border:1px solid #000000;
    border-collapse:collapse;
    background:#e2f2fc;
}

.RadGrid_SkyStemBlueBrown,
.RadGrid_SkyStemBlueBrown .rgMasterTable,
.RadGrid_SkyStemBlueBrown .rgDetailTable,
.RadGrid_SkyStemBlueBrown .rgCommandRow table,
.RadGrid_SkyStemBlueBrown .rgEditForm table,
.GridToolTip_SkyStemBlueBrown
{
    font:11px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_SkyStemBlueBrown .rgGroupPanel table
{
	font-family: Arial;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

.RadGrid_SkyStemBlueBrown .rgMasterTable,
.RadGrid_SkyStemBlueBrown .rgDetailTable
{
    border-collapse:separate;
}

.RadGrid_SkyStemBlueBrown .rgRow,
.RadGrid_SkyStemBlueBrown .rgAltRow,
.RadGrid_SkyStemBlueBrown .rgHeader,
.RadGrid_SkyStemBlueBrown .rgResizeCol,
.RadGrid_SkyStemBlueBrown .rgPager,
.RadGrid_SkyStemBlueBrown .rgGroupPanel
{
	cursor:default;
}

.RadGrid_SkyStemBlueBrown .rgGroupHeader
{
	cursor:hand;
}

.RadGrid_SkyStemBlueBrown input[type="image"]
{
	cursor:pointer;
}

.RadGrid_SkyStemBlueBrown .rgRow td,
.RadGrid_SkyStemBlueBrown .rgAltRow td,
.RadGrid_SkyStemBlueBrown .rgEditRow td,
.RadGrid_SkyStemBlueBrown .rgFooter td,
.RadGrid_SkyStemBlueBrown .rgHeader,
.RadGrid_SkyStemBlueBrown .rgResizeCol,
.RadGrid_SkyStemBlueBrown .rgGroupHeader td
{
	padding-left:4px;
	padding-right:4px;
}

.RadGrid_SkyStemBlueBrown .rgFilterRow td
{
	padding-right:7px;
}

.RadGrid_SkyStemBlueBrown .rgAdd,
.RadGrid_SkyStemBlueBrown .rgRefresh,
.RadGrid_SkyStemBlueBrown .rgEdit,
.RadGrid_SkyStemBlueBrown .rgDel,
.RadGrid_SkyStemBlueBrown .rgFilter,
.RadGrid_SkyStemBlueBrown .rgPagePrev,
.RadGrid_SkyStemBlueBrown .rgPageNext,
.RadGrid_SkyStemBlueBrown .rgPageFirst,
.RadGrid_SkyStemBlueBrown .rgPageLast,
.RadGrid_SkyStemBlueBrown .rgExpand,
.RadGrid_SkyStemBlueBrown .rgCollapse,
.RadGrid_SkyStemBlueBrown .rgSortAsc,
.RadGrid_SkyStemBlueBrown .rgSortDesc,
.RadGrid_SkyStemBlueBrown .rgUpdate,
.RadGrid_SkyStemBlueBrown .rgCancel,
.RadGrid_SkyStemBlueBrown .rgUngroup
{
	width:16px;
	height:16px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-image:url(Images/Expand.gif);	
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_SkyStemBlueBrown .rgGroupItem input,
.RadGrid_SkyStemBlueBrown .rgCommandRow img,
.RadGrid_SkyStemBlueBrown .rgHeader input,
.RadGrid_SkyStemBlueBrown .rgFilterRow img,
.RadGrid_SkyStemBlueBrown .rgFilterRow input,
.RadGrid_SkyStemBlueBrown .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_SkyStemBlueBrown .rgHeaderDiv
{
	background:#eee 0 -5900px ;
}
.RadGrid_SkyStemBlueBrown .rgDataDiv
{
	height:auto !important; 
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -6200px;
}

.rgNoScrollImage .rgHeaderDiv
{
	background-image:none;
}

.RadGrid_SkyStemBlueBrown .rgHeader,
.RadGrid_SkyStemBlueBrown th.rgResizeCol
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	height: 25px;
	background: #ab6501;
	text-align: left;
	padding-left: 3px;
}

.RadGrid_SkyStemBlueBrown th.rgHeader
{
    border:0px !important;
}

.RadGrid_SkyStemBlueBrown th.rgSorted
{
}

.RadGrid_SkyStemBlueBrown th.rgHeader
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
}

.RadGrid_SkyStemBlueBrown .rgHeader,
.RadGrid_SkyStemBlueBrown .rgHeader a
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
}

.RadGrid_SkyStemBlueBrown .rgCheck
{
	height:15px;
	margin:0;
	padding:0;
}

/*rows*/

.RadGrid_SkyStemBlueBrown .rgRow td,
/*.RadGrid_SkyStemBlueBrown .rgAltRow td,*/
.RadGrid_SkyStemBlueBrown .rgEditRow td,
.RadGrid_SkyStemBlueBrown .rgFooter td
{
	font-family: Arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	height: 27px;
	background: #e2f2fc;
	vertical-align: middle;
	padding-left: 3px;
}

.RadGrid_SkyStemBlueBrown .rgRow td
{
	border-color:#fff;
}

.RadGrid_SkyStemBlueBrown .rgAltRow
{
	font-family: Arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	height: 27px;
	background: #a6d3f7;
	vertical-align: middle;
	padding-left: 3px;
}

.RadGrid_SkyStemBlueBrown .rgAltRow td
{
	font-family: Arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	height: 27px;
	background: #a6d3f7;
	vertical-align: middle;
	padding-left: 3px;
}

.RadGrid_SkyStemBlueBrown .rgRow
{
	border-bottom-color:#f2f2f2;
	background-color:#f2f2f2;
}

.RadGrid_SkyStemBlueBrown .rgAltRow
{
	border-bottom-color:#e6e6e6;
	background-color:#e6e6e6;
}

.RadGrid_SkyStemBlueBrown .rgSelectedRow ,
.RadGrid_SkyStemBlueBrown .rgActiveRow ,
.RadGrid_SkyStemBlueBrown .rgHoveredRow,
.RadGrid_SkyStemBlueBrown .rgEditRow
{
	background-color:transparent;
}

.RadGrid_SkyStemBlueBrown .rgRow a,
.RadGrid_SkyStemBlueBrown .rgAltRow a,
.RadGrid_SkyStemBlueBrown .rgEditRow a,
.RadGrid_SkyStemBlueBrown .rgFooter a,
.RadGrid_SkyStemBlueBrown .rgEditForm a
{
	color:#000;
}

.RadGrid_SkyStemBlueBrown .rgSelectedRow
{
}
*+html .RadGrid_SkyStemBlueBrown .rgSelectedRow .rgSorted{}
* html .RadGrid_SkyStemBlueBrown .rgSelectedRow .rgSorted{}

.RadGrid_SkyStemBlueBrown .rgSelectedRow a
{
}

.RadGrid_SkyStemBlueBrown .rgActiveRow,
.RadGrid_SkyStemBlueBrown .rgHoveredRow
{
    background:#c5c5c5 0 -2900px repeat-x url('<%=WebResource("Telerik.Web.UI.Skins.Default.Grid.sprite.gif")%>');
    color:#333;
}
*+html .RadGrid_SkyStemBlueBrown .rgActiveRow .rgSorted,
*+html .RadGrid_SkyStemBlueBrown .rgHoveredRow .rgSorted{background-color:#c5c5c5}
* html .RadGrid_SkyStemBlueBrown .rgActiveRow .rgSorted,
* html .RadGrid_SkyStemBlueBrown .rgHoveredRow .rgSorted{background-color:#c5c5c5}

.RadGrid_SkyStemBlueBrown .rgEditRow
{
	background:#fff 0 -4900px repeat-x url('<%=WebResource("Telerik.Web.UI.Skins.Default.Grid.sprite.gif")%>');
}
*+html .RadGrid_SkyStemBlueBrown .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_SkyStemBlueBrown .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_SkyStemBlueBrown .rgActiveRow td,
.RadGrid_SkyStemBlueBrown .rgActiveRow td.rgSorted,
.RadGrid_SkyStemBlueBrown .rgHoveredRow td,
.RadGrid_SkyStemBlueBrown .rgHoveredRow td.rgSorted
{
	border-bottom-color:#9e9e9e;
}

.RadGrid_SkyStemBlueBrown .rgSelectedRow td,
.RadGrid_SkyStemBlueBrown .rgSelectedRow td.rgSorted
{
}

/*footer*/

.RadGrid_SkyStemBlueBrown .rgFooterDiv,
.RadGrid_SkyStemBlueBrown .rgFooter
{
	font-family: Arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	height: 25px;
	background: #f9ddb6;
	font-weight: bold;
	text-align: left;
	padding-left: 3px;
}

.RadGrid_SkyStemBlueBrown .rgFooter td
{
	font-family: Arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	height: 25px;
	background:  #e8d59c;
	font-weight: bold;
	text-align: left;
	padding-left: 3px;
}

/*status*/

.RadGrid_SkyStemBlueBrown .rgPager .rgStatus
{
	width:35px;
	padding:3px 0 2px;
}

.RadGrid_SkyStemBlueBrown .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent center center no-repeat url('<%=WebResource("Telerik.Web.UI.Skins.Default.Common.loading_small.gif")%>');
	text-indent:-2222px;
}

/*pager*/

.RadGrid_SkyStemBlueBrown .rgPager
{
	text-align: center;
	padding: 5px;
	letter-spacing: 0px;
}

.RadGrid_SkyStemBlueBrown .rgPager td
{
	text-align: center;
	padding: 5px;
	letter-spacing: 0px;
	background:#e8d59c;
}

.RadGrid_SkyStemBlueBrown .rgPager .rgPagerCell
{
	border-top:1px solid #000000;
	padding:5px 0 4px;
}

.RadGrid_SkyStemBlueBrown .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:22px;
	white-space:nowrap;
}

.RadGrid_SkyStemBlueBrown .rgArrPart1
{
	padding-right:0;
}

.RadGrid_SkyStemBlueBrown .rgArrPart2
{
	padding-left:0;
}

.RadGrid_SkyStemBlueBrown .rgInfoPart
{
	float:right;
	color:#000000;
}

.RadGrid_SkyStemBlueBrown .rgInfoPart strong
{
	font-weight:bold;
	color:#015492;
}

.RadGrid_SkyStemBlueBrown .rgArrPart1 img,
.RadGrid_SkyStemBlueBrown .rgArrPart2 img
{
	margin:0 8px;
}

.RadGrid_SkyStemBlueBrown .rgPageFirst,
.RadGrid_SkyStemBlueBrown .rgPagePrev,
.RadGrid_SkyStemBlueBrown .rgPageNext,
.RadGrid_SkyStemBlueBrown .rgPageLast
{
	width:22px;
	height:22px;
	vertical-align:top;
}

.RadGrid_SkyStemBlueBrown .NextPrev .rgPageFirst,
.RadGrid_SkyStemBlueBrown .NextPrev .rgPagePrev,
.RadGrid_SkyStemBlueBrown .NextPrev .rgPageNext,
.RadGrid_SkyStemBlueBrown .NextPrev .rgPageLast
{
	vertical-align:middle;
}

.RadGrid_SkyStemBlueBrown .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_SkyStemBlueBrown .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_SkyStemBlueBrown .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_SkyStemBlueBrown .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_SkyStemBlueBrown .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_SkyStemBlueBrown .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_SkyStemBlueBrown .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_SkyStemBlueBrown .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_SkyStemBlueBrown .rgPagerButton
{
	height:22px;
	border:1px solid;
	border-color:#d0d0d0 #aeaeae #8b8b8b;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:#e8d59c;
	color:#000;
	font:11px/11px "segoe ui",arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_SkyStemBlueBrown .rgNumPart
{
	padding:0;
}

.RadGrid_SkyStemBlueBrown .NumericPages .rgNumPart
{
	padding:0 10px;
}

.RadGrid_SkyStemBlueBrown .rgNumPart a:hover,
.RadGrid_SkyStemBlueBrown .rgNumPart a:hover span
{
	background-color:#f3b954 ;
}

.RadGrid_SkyStemBlueBrown .rgNumPart a.rgCurrentPage,
.RadGrid_SkyStemBlueBrown .rgNumPart a.rgCurrentPage:hover,
.RadGrid_SkyStemBlueBrown .rgNumPart a.rgCurrentPage span
{
	text-decoration:none;
}

.RadGrid_SkyStemBlueBrown .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color:#000;
	text-decoration:underline;
}

.RadGrid_SkyStemBlueBrown .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadGrid_SkyStemBlueBrown .rgNumPart a:hover
{
	background-position:100% -1250px;
}

.RadGrid_SkyStemBlueBrown .rgNumPart a:hover span
{
	background-position:0 -1150px;
	cursor:pointer;
}

.RadGrid_SkyStemBlueBrown .rgNumPart a.rgCurrentPage,
.RadGrid_SkyStemBlueBrown .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	cursor:default;
	background-color:Transparent;
}

.RadGrid_SkyStemBlueBrown .rgNumPart a.rgCurrentPage span,
.RadGrid_SkyStemBlueBrown .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
	color:#ffffff;
	cursor:default;
	background-color:#ab6501;
	padding-left:4px;
	padding-right:4px;
}

.RadGrid_SkyStemBlueBrown .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_SkyStemBlueBrown .rgPager .RadSlider
{
	float:left;
	margin:0 10px 0 0;
}

.RadGrid_SkyStemBlueBrown .rgPagerLabel,
.RadGrid_SkyStemBlueBrown .rgPager .RadComboBox,
.RadGrid_SkyStemBlueBrown .rgPager .RadInput_SkyStemBlueBrown
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

*+html .RadGrid_SkyStemBlueBrown .rgPager .RadComboBox{margin-top:-1px;}
* html .RadGrid_SkyStemBlueBrown .rgPager .RadComboBox{margin-top:-1px;padding:1px 0;}

.RadGrid_SkyStemBlueBrown .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_SkyStemBlueBrown .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_SkyStemBlueBrown .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_SkyStemBlueBrown,
.GridReorderBottom_SkyStemBlueBrown
{
	width:9px !important;
	height:9px !important;
	margin-left:-5px;
	background:0 0 no-repeat url('<%=WebResource("Telerik.Web.UI.Skins.Default.Grid.sprite.gif")%>');
}

.GridReorderBottom_SkyStemBlueBrown
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_SkyStemBlueBrown .rgFilterRow
{
	height: 27px;
	background: #a6d3f7;
	vertical-align: middle;
}

.RadGrid_SkyStemBlueBrown .rgFilterRow td
{
	height: 27px;
	background: #a6d3f7;
	vertical-align: middle;
}

.RadGrid_SkyStemBlueBrown .rgFilter
{
	width:22px;
	margin:0px;
	background-position:0 -300px;
}

.RadGrid_SkyStemBlueBrown .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_SkyStemBlueBrown .rgFilterActive,
.RadGrid_SkyStemBlueBrown .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_SkyStemBlueBrown .rgFilterBox
{
	border:1px solid #000000;
	padding:0px;
	font-family: arial;
	font-size: 11px;
	vertical-align:middle;
	height:20px;
}

/*grouping*/

.RadGrid_SkyStemBlueBrown .rgGroupPanel
{
	height:24px;
	border:0;
	border-bottom:1px solid #828282;
	background:#eee 0 -1900px repeat-x url('<%=WebResource("Telerik.Web.UI.Skins.Default.Grid.sprite.gif")%>');
}

.RadGrid_SkyStemBlueBrown .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_SkyStemBlueBrown .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_SkyStemBlueBrown .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_SkyStemBlueBrown .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_SkyStemBlueBrown .rgUngroup
{
	background-position:0 -6998px;
}

.RadGrid_SkyStemBlueBrown .rgGroupItem
{
	border:1px solid;
	border-color:#c4c4c4 #c4c4c4 #9e9e9e;
	padding:0 2px 1px 3px;
	background:#c6c6c6 0 -6500px ;
	line-height:20px;
	font-weight:normal;
	vertical-align:middle;
}

.RadGrid_SkyStemBlueBrown .rgMasterTable 
{
	width: 100%;
}

.RadGrid_SkyStemBlueBrown td.rgGroupCol
{
}
.RadGrid_SkyStemBlueBrown .rgMasterTable td.rgExpandCol
{
}

.RadGrid_SkyStemBlueBrown .rgGroupHeader
{
    background-color:#f2e9c9;
	font-family: Arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	height: 27px;
	vertical-align: middle;
}

.RadGrid_SkyStemBlueBrown .rgGroupHeader td
{
	padding-top:0;
	padding-bottom:0;
}

.RadGrid_SkyStemBlueBrown .rgGroupHeader td.rgGroupCol
{
	border-top-color:#828282;
}

.RadGrid_SkyStemBlueBrown .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_SkyStemBlueBrown .rgCollapse
{
	background-position:3px -444px;
}

.RadGrid_SkyStemBlueBrown .rgGroupHeader td p
{
    display:inline;
    margin:0;
    padding:0 10px;
}

.RadGrid_SkyStemBlueBrown .rgGroupHeader td div div
{
	top:-0.8em;
	padding:0 10px;
}

.RadGrid_SkyStemBlueBrown .rgGroupHeader td div div div
{
	top:0;
	padding:0;
	border:0;
}

/*editing*/

.RadGrid_SkyStemBlueBrown .rgEditForm
{
	border-bottom:1px solid #828282;
}

.RadGrid_SkyStemBlueBrown .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_SkyStemBlueBrown .rgCancel
{
	background-position:2px -1848px;
}

/*hierarchy*/

.RadGrid_SkyStemBlueBrown .rgDetailTable
{
	border:1px solid Gray;
}

/*command row*/

.RadGrid_SkyStemBlueBrown .rgCommandRow
{
	background: #e2edfb; /*#ecf9ff -- #e2edfb;*/
	height: 25px;
}

.RadGrid_SkyStemBlueBrown .rgCommandCell
{
	border:1px solid;
	border-color:#999 #f2f2f2;
	border-top:0;
	padding:0;
}

.RadGrid_SkyStemBlueBrown tfoot .rgCommandCell
{
	border-top:1px solid;
	border-bottom:0;
}

.RadGrid_SkyStemBlueBrown .rgCommandTable td
{
	border:0;
	padding:3px 7px 4px;
}

.RadGrid_SkyStemBlueBrown .rgCommandTable
{
	border:0;
	border-top:1px solid #fdfdfd;
	border-bottom:1px solid #e7e7e7;
}

.RadGrid_SkyStemBlueBrown .rgCommandRow a
{
	color:#000;
	text-decoration:none;
}

.RadGrid_SkyStemBlueBrown .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_SkyStemBlueBrown .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_SkyStemBlueBrown .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_SkyStemBlueBrown .rgDel
{
	background-position:0 -1750px;
}

/*multirow select*/

.GridRowSelector_SkyStemBlueBrown
{
	background:#4c4e54;
}

/*row drag n drop*/

.GridItemDropIndicator_SkyStemBlueBrown
{
    border-top:1px dashed #666;
}

/*tooltip*/

.GridToolTip_SkyStemBlueBrown
{
	border:1px solid #828282;
	padding:3px;
	background:#fff;
	color:#333;
}

/*rtl*/

.RadGridRTL_SkyStemBlueBrown .rgHeader,
.RadGridRTL_SkyStemBlueBrown .rgResizeCol
{
	text-align:right;
}

.RadGridRTL_SkyStemBlueBrown .rgPager .rgStatus
{
	border-top-width:1px;
}

.RadGridRTL_SkyStemBlueBrown .rgWrap
{
	float:right;
}

.RadGridRTL_SkyStemBlueBrown .rgInfoPart
{
	float:left;
}

.RadGridRTL_SkyStemBlueBrown .rgNumPart
{
	width:220px;
}

.RadGridRTL_SkyStemBlueBrown .rgNumPart a
{
	float:right;
}

.RadGridRTL_SkyStemBlueBrown .rgDetailTable
{
}

.GridFilterRow_SkyStemBlueBrown td
{
	background-color:Gray;
	border:Solid 1px #00000;
}

/* Update-UI */

.RadGrid_SkyStemBlueBrown .rgHeader,
.RadGrid_SkyStemBlueBrown th.rgResizeCol
{	
	background: #dae9fa;
    color: black;
}

.RadGrid_SkyStemBlueBrown .rgPager td
{	
	background:#dae9fa;
}

.RadGrid_SkyStemBlueBrown
{
    border:none;
}

.RadGrid_SkyStemBlueBrown .rgGroupHeader
{
    background-color:#fddbef;	
}

.RadGrid_SkyStemBlueBrown .rgFooter td
{
	background:  #fddbef;
}

.RadGrid_SkyStemBlueBrown .rgFooter td
{
	background:  #fddbef;
}

.RadGrid_SkyStemBlueBrown .rgFooter td
{
	background:  #dae9fa;
}

.RadGrid_SkyStemBlueBrown .rgAltRow td
{	
	background: #fff;
    /*border-bottom: solid 1px;*/	
}

.RadGrid_SkyStemBlueBrown .rgRow td,
/*.RadGrid_SkyStemBlueBrown .rgAltRow td,*/
.RadGrid_SkyStemBlueBrown .rgEditRow td,
.RadGrid_SkyStemBlueBrown .rgFooter td
{	
	background: #EDF3F9;
    /*border-bottom:Solid 1px red;*/
    /*background: #ECF9D9;*/
    /*border-bottom: solid 1px;*/
}

.RadGrid_SkyStemBlueBrown .rgNumPart a.rgCurrentPage span,
.RadGrid_SkyStemBlueBrown .rgNumPart a.rgCurrentPage:hover span
{	
	background-color:#ec008c;
}

.RadGrid_SkyStemBlueBrown .rgCommandRow
{
	background: #fff; 	
}

.RadGrid_SkyStemBlueBrown th.rgHeader
{	
	color: #000;
}

.RadGrid_SkyStemBlueBrown .rgCommandCell
{
    border: none;
}

.RadGrid_SkyStemBlueBrown .rgHeader,
.RadGrid_SkyStemBlueBrown .rgHeader a
{	
	color: #000;
}

.LegendTable
{    
    margin-left: 10px;
}
