.RadTabStrip_SkyStemBlueBrown li a
{
  padding-left: 7px;
  line-height: 33px;
  background: transparent url('images/tabCorLt.gif') 0px 0px no-repeat;
  text-decoration: none;
} 

.RadTabStrip_SkyStemBlueBrown li a .rtsOut
{
  padding-right: 7px;
  line-height: 33px;
  background: transparent url('images/tabCorRt.gif') right 0px no-repeat;
} 

.RadTabStrip_SkyStemBlueBrown li a .rtsIn
{
  line-height: 33px;
  background: transparent url('images/tabBG.gif') 0px 0px repeat-x;
  text-align: center;
} 

.RadTabStrip_SkyStemBlueBrown li a.rtsSelected
{
  padding-left: 7px;
  line-height: 33px;
  background: transparent url('images/SelectedtabCorLt.gif') 0px 0px no-repeat;
  text-decoration: none;
  font-weight:bold;
} 

.RadTabStrip_SkyStemBlueBrown li a.rtsSelected .rtsOut
{
  padding-right: 7px;
  line-height: 33px;
  background: transparent url('images/SelectedtabCorRt.gif') right 0px no-repeat;
} 

.RadTabStrip_SkyStemBlueBrown li a.rtsSelected .rtsIn
{
  line-height: 33px;
  background: transparent url('images/SelectedtabBG.gif') 0px 0px repeat-x;
  text-align: center;
}

.RadTabStrip_SkyStemBlueBrown li .rtsTxt
{
    font-family: Calibri;
    font-size: small;
    color:Black;
}

.RadTabStrip_SkyStemBlueBrown li .rtsLink
{
    padding-left: 7px;
}